<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .container-fluid{
            background: #50a3a2;
            background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
            background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
            position: absolute;
            /* top: 50%; */
            left: 0;
            width: 100%;
            height: 100%;
            /* margin-top: -200px; */
            overflow: hidden;
        }
        .error-code{
            text-align: center;
            margin-top: 12%;
        }
        .error-number{
            font-size: 90px;
            line-height: 90px;
            margin: 20px 0;
        }

        h2 {
            font-size: 18px;
            font-weight: 400;
        }



    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="col-sm-12 error-code">
            <h1 class="error-number">404</h1>
            <h2>Sorry but we couldnt find this page</h2>
            <p>This page you are looking for does not exist</p>

        </div>


    </div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
