<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>smart parking server</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/stylesheets/custom.css" rel="stylesheet">
</head>

<body class="nav-md" ng-app="prkApp" ng-controller="placeController">
<div class="container body" ng-init="initializer()">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-car"></i> <span>Smart Park</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>Admin</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-edit"></i> Manage <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="places">Places</a>
                                    <li><a href="nodes">Nodes</a>
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-book"></i> Help <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="nodeHelp">Node</a>
                                    <li><a href="placeHelp">Place</a>
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-paper-plane-o"></i> Test <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="nodeTest">Node Testing page</a>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">

            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt="">Admin
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;">  Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="../logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
        <!-- /top navigation -->


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="" >

                <div class="page-title">
                    <div class="title_left">
                        <h3>Manage Parking Places</h3>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="row" style="">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add Parking Place <small> another text</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <!-- <form id="demo-form2" action="/api/v1/place" method="post" data-parsley-validate class="form-horizontal form-label-left"> -->
                                <form id="add-form" data-parsley-validate class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" ng-model="place.name" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>{{name}}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Longitude<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number"  ng-model="place.latitude" step="any" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>{{latitude}}
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Latitude</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input ng-model="place.longitude" class="form-control col-md-7 col-xs-12" type="number" step="any">
                                        </div>{{longitude}}
                                    </div>


                                    <div class="col-sm-offset-3" style="align-items: center">
                                        <label class="radio-inline ">
                                            <input style="float: right" type="radio" ng-model="place.prkType" name="inlineRadioOptions" id="inlineRadio1" value="
                                            Indoor"> Indoor
                                        </label>
                                        <label class="radio-inline ">
                                            <input style="" type="radio" name="inlineRadioOptions" ng-model="place.prkType" id="inlineRadio2" value="Outdoor"> Outdoor
                                        </label>
                                    </div>

                                    <div class="form-group ">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Disable</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 8px;">
                                            <input  class="form-contro " ng-model="place.isDisable" type="checkbox">
                                        </div>
                                    </div>


                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary">Cancel</button>
                                            <button type="button" ng-click="addPlace()" ng-disabled="isAddDisabled" class="btn btn-success">Add</button>
                                            <button type="button" ng-click="updatePlace()" ng-disabled="isUpdateDisabled" class="btn btn-success">Update</button>
                                            <button type="button" ng-click="deletePlace()"  ng-disabled="isDeleteDisabled" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>

                                    <div class="col-sa-12" ng-hide="!isMassageEnable"><p class="text-info" align="center">{{massage}}</p></div>

                                </form>



                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Available Places <small></small></h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Settings 1</a>
                                                        </li>
                                                        <li><a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card-box table-responsive">
                                                        <table id="datatable-keytable" class="table table-striped table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Longitude</th>
                                                                <th>Latitude</th>
                                                                <th>Created</th>
                                                                <th>Disabled</th>
                                                                <th>Number of Slots</th>
                                                                <th>Available Slots</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            <tr ng-repeat="place in places track by $index" ng-click="selectedRow($index)">
                                                                <td>{{place.name}}</td>
                                                                <td>{{place.lat}}</td>
                                                                <td>{{place.lng}}</td>
                                                                <td>{{place.created |date}}</td>
                                                                <td>{{place.isDisable}}</td>
                                                                <td>{{place.numOfSlots}}</td>
                                                                <td>{{place.availableSlots}}</td>
                                                            </tr>



                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!-- /page content -->


    </div>
</div>

<!-- /top navigation -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../javascripts/custom.js"></script>
<script type="text/javascript">
    // magic.js
// $(document).ready(function() {

//     // process the form
//     $('#add-form').submit(function(event) {
//         // get the form data
//         // there are many ways to get this data using jQuery (you can use the class or id also)
//         var formData = {
//             'name'       : $('input[name=name]').val(),
//             'latitude'   : $('input[name=latitude]').val(),
//             'longitude'  : $('input[name=longitude]').val()
//         };
//         // process the form
//         $.ajax({
//             type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
//             url         : '/api/v1/places', // the url where we want to POST
//             data        : formData, // our data object
//             dataType    : 'json', // what type of data do we expect back from the server
//             encode          : true
//         })
//             // using the done promise callback
//             .done(function(data) {
//                 // log data to the console so we can see
//                 console.log(data);
//                 console.log(data.msg);
//                 $('#massage').text(data.msg); 
//                 // here we will handle errors and validation messages
//             });

//         // stop the form from submitting the normal way and refreshing the page
//         event.preventDefault();
//     });

// });
</script>

<!-- Angular -->
<script src="/lib/angular/angular.min.js"></script>
<!--<script src="/lib/angular-route/angular-route.min.js"></script>-->
<script src="/javascripts/angular/index.js"></script>
<!--<script src="/javascripts/angular/config/route-provider.js"></script>-->
<!--<script src="/javascripts/angular/index.js"></script>-->
<script src="/javascripts/angular/places/placeController.js"></script>

</body>
</html>
